
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.blinking{
	animation:blinkingText 1.3s infinite;
}
@keyframes blinkingText{
	0%{	color: transparent;	}
	49%{	color: transparent;	}
	50%{	color: #FFFFFF; }
	99%{	color: #FFFFFF;	}
	100%{	color: transparent;	}
	}

body{
    color: #FFFFFF;
    background-color: #1f1f1f;
    margin: 40px auto;
    max-width: 1100px;
    line-height: 1.6em;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
    font-size: 18px;
    padding: 0;
}
